<template>
  <div class="container mx-auto max-w-md shadow-md hover:shadow-lg transition duration-300">
    <div class="py-12 p-10 bg-white rounded-xl">
      <div class="mb-6">
        <label class="mr-4 text-gray-700 font-bold inline-block mb-2" for="name">Website url</label>
        <div v-for="(url, index) in urls" :key="index">
          <input
            type="text"
            class="border bg-gray-100 py-2 px-4 w-full outline-none focus:ring-2 focus:ring-indigo-400 rounded mb-3"
            v-model="urls[index]"
            placeholder="htts://"
          />
        </div>
        <button
          class="ml-auto mt-6 block px-6 text-indigo-50 font-bold bg-purple-800 py-3 rounded-md hover:bg-indigo-500 transition duration-300"
          @click.prevent="addUrl()"
        >
          Add more
        </button>
      </div>
      <div>
        <label class="mr-4 text-gray-700 font-bold inline-block mb-2" for="name">Selector</label>
        <input
          type="text"
          class="border bg-gray-100 py-2 px-4 w-full outline-none focus:ring-2 focus:ring-indigo-400 rounded"
          v-model="selector"
          placeholder="h2"
        />
      </div>
      <button
        class="w-full mt-6 text-indigo-50 font-bold bg-purple-800 py-3 rounded-md hover:bg-indigo-500 transition duration-300"
        @click.prevent="startCrawl"
      >
        Start
      </button>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
import axios from "axios";
import { useToast } from "vue-toastification";

export default {
  name: "GetStarted",
  setup() {
    const initialUrls = [""];
    const initialSelector = "";
    const toast = useToast();

    const urls = ref([...initialUrls]);
    const selector = ref(initialSelector);

    const addUrl = () => {
      urls.value.push("");
    };

    const startCrawl = () => {
      return axios
        .post(`${process.env.VUE_APP_API_ENDPOINT}/crawlers`, {
          selector: selector.value,
          urls: urls.value,
        })
        .then(() => {
          urls.value = [...initialUrls];
          selector.value = initialSelector;

          toast.success("Job submitted, select status menu option to see progress");
        })
        .catch(() => {
          toast.error("Validation error");
        });
    };

    return {
      urls,
      selector,
      toast,
      addUrl,
      startCrawl,
    };
  },
};
</script>
