<template>
  <table class="min-w-max w-full table-auto">
    <thead>
      <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-left">Crawler ID</th>
        <th class="py-3 px-6 text-left">URL</th>
        <th class="py-3 px-6 text-center">Title</th>
        <th class="py-3 px-6 text-center">Content</th>
        <th class="py-3 px-6 text-center">Crawled at</th>
      </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">
      <tr class="border-b border-gray-300 hover:bg-gray-100" v-for="(url, index) in urls" :key="index">
        <td class="py-3 px-6 text-left whitespace-nowrap">
          <div class="flex items-center">
            <span class="font-medium">{{ url.crawler_id }}</span>
          </div>
        </td>
        <td class="py-3 px-6 text-left">
          <div class="flex items-center">
            <span>{{ url.url }}</span>
          </div>
        </td>
        <td class="py-3 px-6 text-left max-w-sm">
          <div>
            <span>{{ url.title }}</span>
          </div>
        </td>
        <td class="py-3 px-6 text-left max-w-xl">
          <p>{{ url.content }}</p>
        </td>
        <td class="py-3 px-6 text-left max-w-xl">
          <p>{{ url.created_at }}</p>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import axios from "axios";
import { ref } from "vue";

export default {
  setup() {
    let urls = ref([]);

    const getUrls = () => {
      return axios.get(`${process.env.VUE_APP_API_ENDPOINT}/urls`).then((response) => {
        urls.value = response.data.data.urls;
      });
    };

    getUrls();

    return {
      urls,
    };
  },
};
</script>
