<template>
  <job-status v-bind="progress" />
  <table class="min-w-max w-full table-auto">
    <thead>
      <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-left">Crawler ID</th>
        <th class="py-3 px-6 text-left">Websites</th>
        <th class="py-3 px-6 text-center">Selector</th>
        <th class="py-3 px-6 text-center">Status</th>
      </tr>
    </thead>
    <tbody class="text-gray-600 text-sm font-light">
      <tr class="border-b border-gray-200 hover:bg-gray-100" v-for="(crawler, index) in crawlers" :key="index">
        <td class="py-3 px-6 text-left whitespace-nowrap">
          <div class="flex items-center">
            <span class="font-medium">{{ crawler.id }}</span>
          </div>
        </td>
        <td class="py-3 px-6 text-left">
          <div class="flex items-center">
            <span>{{ crawler.urls.join(", ") }}</span>
          </div>
        </td>
        <td class="py-3 px-6 text-center">
          <div class="flex items-center justify-center">
            <span>{{ crawler.selector }}</span>
          </div>
        </td>
        <td class="py-3 px-6 text-center">
          <span class="bg-purple-200 text-purple-600 py-1 px-3 rounded-full text-xs">{{ crawler.status }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import axios from "axios";
import { inject, ref, reactive, onUnmounted } from "vue";
import JobStatus from "../components/JobStatus.vue";

export default {
  components: {
    JobStatus,
  },
  setup() {
    const channel = inject("channel");
    const progress = reactive({
      current_index: null,
      job_id: null,
      percent: null,
      total_urls: null,
    });

    channel.bind("crawling-progress-updated", (eventData) => {
      console.log("crawling-progress-updated", eventData);

      Object.assign(progress, eventData);

      if (eventData.is_completed) {
        getCrawlers();
      }
    });

    onUnmounted(() => {
      channel.unbind("crawling-progress-updated");
    });

    let crawlers = ref([]);

    const getCrawlers = () => {
      return axios.get(`${process.env.VUE_APP_API_ENDPOINT}/crawlers`).then((response) => {
        crawlers.value = response.data.data.crawlers;
      });
    };

    getCrawlers();

    return {
      crawlers,
      progress,
    };
  },
};
</script>
