<template>
  <div v-if="total_urls" class="bg-indigo-100 rounded-xl p-5 w-full mb-6">
    <h2 class="text-xl mb-4">Job status</h2>

    <p>Job id: {{ job_id }}</p>
    <p>Job progress: {{ current_index }} / {{ total_urls }} ({{ percent }})</p>
  </div>
</template>

<script>
export default {
  props: {
    current_index: Number,
    job_id: Number,
    percent: String,
    total_urls: Number,
  },
  setup() {},
};
</script>
